/*==================== GOOGLE FONTS ====================*/
@import url("http://fonts.cdnfonts.com/css/manrope");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;
    --hues: #006064;
    /*========== Colors ==========*/
    /* Change favorite color */
    --logo-with: 4.75em;
    --logo-heigh: 4.75em;
    /* HSL color mode */
    --first-color: #673ab7;
    --first-color-second: #302f2f;
    --first-color-alt: rgba(0, 0, 0, 0.54);
    --first-color-lighter: #00bcd4;
    /* --title-color: #000000DE;
    --text-color: hsl(var(--hue-color), 8%, 45%); */
    /* --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%); */

    /*========== Font and typography ==========*/
    --body-font: "Open Sans";
    --text-font: "Open Sans";

    --big-font-size: 48px;
    --big-font-size-logo: 36px;
    --h1-font-size: 32px;
    --h2-font-size: 28px;
    --h3-font-size: 24px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for small devices */
@media screen and (max-width: 468px) {
    :root {
        --big-font-size: 2.25em;
        --big-font-size-title: 1.5em;
        --normalize-font-size: 0.875em;
        --logo-with: 2.75em;
        --logo-heigh: 2.75em;
    }
}

/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}

.text_title {
    font-weight: 800;
    font-size: var(--big-font-size-title);
    line-height: 130%;
}

.text_normal {
    font-weight: 400;
    line-height: 180%;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.relative {
    position: relative;
}

.bg {
    position: absolute;
    left: 900.76px;
    top: -106.74px;
    width: 1121.23px;
    height: 949.51px;
}

.bg_features {
    position: absolute;
    left: 0;
    top: 2290.99px;
}

.flex {
    display: flex;
    align-items: center;
}

.main,
header {
    width: 95%;
    margin: 0 auto;
}

.title {
    font-weight: var(--font-bold);
    font-size: var(--big-font-size);
    line-height: 65px;
}

/*==================== HEADER ====================*/

.header {
    padding-top: 30.9px;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 43px;
}

.header_title {
    font-weight: 600;
    font-size: var(--big-font-size-logo);
    line-height: 49px;
}

.nav_list {
    gap: 31px;
    padding-right: 315px;
}

.nav_link {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    font-size: 18px;
    line-height: 25px;
}

.setting {
    gap: 31px;
    color: var(--first-color-second);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}

.setting_detail {
    color: white;
    padding: 9px;
    background-color: var(--first-color);
    border-radius: 39px;
}

/* show menu */

/* Active link */
/* Change background header */

/*==================== HOME ====================*/
.home {
    padding-top: 91px;
}

.home_content {
    max-width: 596px;
    max-height: 252.5px;
}

.home_content_description {
    padding: 24px 0 32.5px;
    color: var(--first-color-alt);
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
    line-height: 48px;
}

.home_picture {
    max-height: 399px;
    max-width: 743px;
}

/*==================== INFORMATION ====================*/
.information_container {
    justify-content: center;
    align-items: flex-start !important;
    gap: 28px;
}

.information_block {
    max-width: 318px;
    max-height: 70px;
}

.information_block_title {
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
    line-height: 42px;
    color: var(--first-color-lighter);
}

.information_block_description {
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
    line-height: 24px;
}

.information_block:nth-child(2),
.features_desc_block:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 33px;
}

/*==================== FEATURES ====================*/
.features {
}
.features_title,
.features_desc_block, .discover {
    text-align: center;
}

.features_desc {
    justify-content: center;
}
.features_desc_block {
    
    padding: 79.5px;
}

.features_container {
    padding-top: 5px;
}

.features_logo {
    z-index: var(--z-modal);
}

.features_content {
    max-width: 595px;
}

.features_content_title {
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
    line-height: 44px;
    padding-bottom: 24px;
}

.features_content_title::before {
    content: "";
    display: inline-block;
    width: 17.5px;
    height: 17.5px;
    background-color: var(--first-color-lighter);
    border-radius: 100%;
    margin-right: 16.5px;
}

.features_content_description {
    font-weight: var(--font-regular);
    font-size: var(--h3-font-size);
    line-height: 36px;
}

.features_desc_block_title {
    color: var(--hues);
    align-items: center;
    text-align: center;
}

/*==================== DISCOVER ====================*/
.discover_title {
    padding-bottom: 93px;
}
/*========== SCROLL UP ==========*/

/* Show scroll */

/*========== SCROLL BAR ==========*/

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 688px) {
    .header {
        justify-content: space-around;
        position: relative;
    }

    .close_toggle {
        position: absolute;
        top: 2em;
        right: 8em;
    }

    .nav_list {
        height: 100vh;
    }

    .setting,
    .nav_list {
        position: absolute;
        top: -100em;
        left: 0;
        color: white;
        width: 100%;
        background-color: black;
        flex-direction: column;
    }

    .nav_list {
        height: 100vh;
        padding-top: 5em;
        padding-left: 50%;
        z-index: var(--z-modal);
    }

    .setting {
        display: none;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .btn_toggle,
    .close_toggle {
        display: none;
    }

    .home_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .features_container {
        gap: 91.5px;
    }

    .features_container:nth-child(3) {
        margin: 70px;
        flex-direction: row-reverse;
    }

    .features_container:nth-child(4) {
        text-align: center;
        flex-direction: column-reverse;
    }
}
/* 
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--==================== FONT ====================-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="style.css">

        <title>Responsive Portfolio Website</title>
    </head>
    <body>
      <div class="container relative">
        <div class="bg">
            <img src="images/Liquid_Bg.svg" alt="">
        </div>

        <div class="bg_features">
            <img src="images/Mask.svg" alt="">
        </div>
          <!--==================== HEADER ====================-->
          <header class="header flex" id="header">
            

            <div class="header_logo">
                <img src="images/Luxi-Hosting-Logo.svg" alt="">
                <h1 class="header_title">Social</h1>
            </div>

            <ul class="nav_list flex">
                <li class="nav_item active"><a href="#" class="nav_link">Feature</a></li>
                <li class="nav_item"><a href="#" class="nav_link">Discover</a></li>
                <li class="nav_item"><a href="#" class="nav_link">Stories</a></li>
                <li class="nav_item"><a href="#" class="nav_link">Community</a></li>
                <li class="nav_item"><a href="#" class="nav_link">Blog</a></li> 
                <span class="close_toggle">X</span>
            </ul>

            <ul class="setting flex">
                <h3 class="setting_login">Login</h3>
                <p class="setting_detail">SEE DETAIL</p>
                <span class="setting_icon"><img src="images/Shape.svg" alt=""></span>
            </ul>

            <div class="btn_toggle">
                CLICK
            </div>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home section" id="home">
               <div class="home_container grid">
                    <div class="home_content">
                        <h1 class="home_content_title title">Sed Imperdiet Enim li Vitae Viverra Justo</h1>
                        <p class="home_content_description">Nam sollicitud nunc, cursus eros vulputate sed. Vestibulum lobortis.</p>
                        <div class="home_content_social"><img src="images/Link_Store.svg" alt=""></div>
                    </div>
                    <div class="home_picture">
                        <img src="images/Vector.svg" alt="">
                    </div>
               </div>
            </section>
            <!--==================== INFORMATION ====================-->
            <section class="information section" id="home">
                <div class="information_container flex">
                    <div class="information_block">
                        <h1 class="information_block_title">Business Solution</h1>
                        <p class="information_block_description">Interdum et malesuada ac ante…</p>
                    </div>
                    
                    <div class="information_block">
                        <h1 class="information_block_title">Free project quote</h1>
                        <p class="information_block_description">Interdum et malesuada ac ante…</p>
                    </div>
                    
                    <div class="information_block">
                        <h1 class="information_block_title">Nulla lobortis nunc</h1>
                        <p class="information_block_description">Interdum et malesuada ac ante…</p>
                    </div>
                </div>
             </section>
            <!--==================== FEATURES ====================-->
            <section class="features section" id="home">
                <h1 class="features_title title">Features</h1>
                <div class="features_container flex">
                    <div class="features_logo"><img src="images/Feature1.svg" alt=""></div>
                    <div class="features_content">
                        <h1 class="features_content_title">Vivamus sit amet interdum</h1>
                        <p class="features_content_description">Nam sollicitudin dignissim nunc, cursus ullamcorper eros vulputate sed. Vestibulum sit amet tortor sit amet libero lobortis.</p>
                    </div>
                </div>

                <div class="features_container flex">
                    <div class="features_logo"><img src="images/Feature2.svg" alt=""></div>
                    <div class="features_content">
                        <h1 class="features_content_title">Vivamus sit amet interdum</h1>
                        <p class="features_content_description">Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam vestibulum feugiat.</p>
                    </div>
                </div>

                <div class="features_container flex">
                    <div class="features_logo"><img src="images/Artworks.svg" alt=""></div>
                    <div class="features_content">
                        <h1 class="features_content_title">Vivamus sit amet interdum</h1>
                        <p class="features_content_description">Vestibulum sit amet tortor sit amet libero lobortis semper at et odio. </p>
                    </div>
                </div>

                <div class="features_desc flex">
                    <div class="features_desc_block">
                        <h2 class="features_desc_block_title title">+200M</h2>
                        <p class="features_desc_block_description">Download</p>
                    </div>

                    <div class="features_desc_block">
                        <h2 class="features_desc_block_title title">+18K</h2>
                        <p class="features_desc_block_description">Communities</p>
                    </div>

                    <div class="features_desc_block">
                        <h2 class="features_desc_block_title title">+480M</h2>
                        <p class="features_desc_block_description">Members</p>
                    </div>
                </div>
             </section>
        <!--==================== DISCOVER ====================-->
        <section class="discover section" id="home">
            <h1 class="discover_title title">Discover</h1>
            <div class="discover_content"><img src="images/Discover.svg" alt=""></div>
         </section>

         <!--==================== STORY ====================-->
        <section class="discover section" id="home">
            <div class="discover_content"><img src="images/Testimonial.svg" alt=""></div>
         </section>

         <!--==================== COMMUNITY ====================-->
        <section class="discover section" id="home">
            <div class="discover_content"><img src="images/Top Community 1.svg" alt=""></div>
         </section>

         <!--==================== UPDATE ====================-->
        <section class="discover section" id="home">
            <div class="discover_content"><img src="images/Latest News.svg" alt=""></div>
         </section>
        </main>
      </div>
        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <img src="images/Footer.png" alt="">
        </footer>
        <!--==================== MAIN JS ====================-->
        <script src="js/main.js"></script>
    </body>
</html> */